<!-- Styling de l’application avec CSS - Styler les éléments avec la syntaxe des tableaux -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello World</title>
	<script src="https://unpkg.com/vue"></script>
	<style>
        .demo {
            height:  100px;
            width: 100px;
            background-color: gray;
            display: inline-block;
            margin: 10px;
        }
        .red {
            background-color: red;
        }
        .blue {
            background-color: blue;
        }
        .green {
            background-color: green;
        }
    </style>
</head>
<body>
	<div id="app">
		<div class="demo" :style="[myStyle, { height: width + 'px' }]"></div>
		<div class="demo"></div>
		<div class="demo"></div>
		<input type="text" v-model="color">
		<input type="text" v-model="width">
	</div>
	
	<script>
		new Vue({
			el: '#app',
			data: {
				color: 'green',
				width: 200
			},
			computed: {
				myStyle: function() {
					return {
						backgroundColor: this.color,
						width: this.width + 'px'
					}
				}
			}
		});
	</script>
</body>
<html>